.message{ "data-message-id": "#{message.id}"}
  .message-header
    .message-header__user-name
      = message.user.name
    .message-header__posted-date
      = message.created_at
  .message-body
    - if message.content?
      .message-body__content
        = message.content
    - if message.image?
      .message-body__image
        = image_tag message.image
