.wrapper
  .side-bar
    .header
      .header__name
        テストさん
      %ul.header__list
        = content_tag(:li, link_to(fa_icon("edit", class: "icon"), "/"), class: "list")
        = content_tag(:li, link_to(fa_icon("cog", class: "icon"), "/"), class: "list")

    .groups
      = render partial: "group"
      = render partial: "group"
      = render partial: "group"
      = render partial: "group"

  .chat
    .header
      .header-left
        .group
          .group__name
            testグループ
          .group__members-list
            Member: テストさん、サンプルさん
      .header-right
        .header-right__btn
          = link_to "Edit", "/"
    .messages
      = render partial: "message"
    %form.form
      %input.form__text{type: "text", placeholder: "type a message"}
      %label{for: "form__input-image"}
        = fa_icon("image lg", class: "icon")
        %input#form__input-image{type: "file"}
      %input.form__submit{type: "submit", value: "Send"}

